/* header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);

}

.banner {
    padding: 10px 240px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
}

.banner .profile-pic {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

.banner-content {
    width: 634px;
}

.banner-title {
    width: 708px;
    font-size: 80px;
    margin-bottom: 32px;
}

.banner-content {
    margin-top: 32px;
    margin-bottom: 32px;
}

/* main section styles */



/* Our Featured section styles */
.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
#ido-what-description{
    padding: 15px 770px;
}